.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;

    > div {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        font-size: 15px;
    }
}